<a href="https://colab.research.google.com/github/J-o-y-y/codeslave/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B8%B0%EC%B4%88_%EA%B0%95%EC%9D%98__%EC%A0%9C%EC%96%B4%EB%AC%B8_20230715.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# if문 = 조건문

money = True
if money:
    print("택시를 타고 가라")
else:
    print("걸어 가라")

택시를 타고 가라

In [2]:
money = False
if money:
    print("택시를 타고 가라")
else:
    print("걸어 가라")

걸어 가라

In [4]:
money = True
if money:
  print("택시를")
print("타고")
print("가라")

택시를
타고
가라

In [5]:
money = False
if money:
  print("택시를")
print("타고")
print("가라")

타고
가라

In [7]:
money = False
if money:
  print("택시를")
  print("타고")
print("가라")

가라

In [8]:
money = False
if money:
  print("택시를")
  print("타고")
  print("가라")

In [ ]:
# tabs spaces
# indent error

In [9]:
money = 2000
if money >= 3000:
    print("택시를 타고 가라")
else:
    print("걸어 가라")

걸어 가라

In [10]:
money = 3000
if money >= 3000:
    print("택시를 타고 가라")
else:
    print("걸어 가라")

택시를 타고 가라

In [13]:
 money = 2000
 card = True
 if money >= 3000 or card:
     print("택시를 타고 가라")
 else:
     print("걸어가라")

택시를 타고 가라

In [14]:
 money = 2000
 card = True
 if money >= 3000 and card:
     print("택시를 타고 가라")
 else:
     print("걸어가라")

걸어가라

In [16]:
 money = 2000
 card = True
 if not card:
     print("택시를 타고 가라")
 else:
     print("걸어가라")

걸어가라

In [17]:
1 in [1, 2, 3]

True

In [18]:
1 not in [1, 2, 3]

False

In [19]:
 'a' in ('a', 'b', 'c')

True

In [20]:
 'j' not in 'python'

True

In [38]:
pocket = ['paper', 'money', 'cellphone']
if 'money' in pocket:
   pass
else:
   print("카드를 꺼내라")

In [30]:
# elif

pocket = ['paper', 'cellphone']
card = True

if 'money' in pocket:
    print("택시를 타고가라")
elif card:
    print("택시를 타고가라")
else:
    print("걸어가라")

택시를 타고가라

In [40]:
 pocket = ['paper', 'money', 'cellphone']
 if 'money' in pocket: pass
 else: print("카드를 꺼내라")

In [48]:
# 조건부

if score >= 60:
    message = "success"
else:
    message = "failure"

print(message)

success

In [44]:
score = 100

message = "success" if score >= 60 else "failure"

print(message)

success

In [53]:
# while문 : 반복적인 작업 = 반복문

treeHit = 0
while treeHit < 10:
     treeHit = treeHit +1
     print("나무를 %d번 찍었습니다." % treeHit)
     if treeHit == 10:
         print("나무 넘어갑니다.")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다.

In [54]:
# 디버그 모드로 treeHit 체크 (VSC : F5) Run&Debug
treeHit = 0
while treeHit < 10:
     treeHit += 1
     print("나무를 %d번 찍었습니다." % treeHit)
     if treeHit == 10:
         print("나무 넘어갑니다.")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다.

In [58]:
 prompt = """
... 1. Add
... 2. Del
... 3. List
... 4. Quit
...
... Enter number: """

 number = 0
 while number != 4:
     print(prompt)
     number = int(input())

1. Add
2. Del
3. List
4. Quit

Enter number:
1

1. Add
2. Del
3. List
4. Quit

Enter number:
2

1. Add
2. Del
3. List
4. Quit

Enter number:
3

1. Add
2. Del
3. List
4. Quit

Enter number:
4

In [63]:
# while 문 강제로 빠져나가기

coffee = 10
money = 300
while money:
    print("돈을 받았으니 커피를 줍니다.")
    coffee = coffee - 1
    print("남은 커피의 양은 %d개입니다." % coffee)
    if coffee == 0:
        print("커피가 다 떨어졌습니다. 판매를 중지합니다.")
        break

돈을 받았으니 커피를 줍니다.
남은 커피의 양은 9개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 8개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 7개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 6개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 5개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 4개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 3개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 2개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 1개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 0개입니다.
커피가 다 떨어졌습니다. 판매를 중지합니다.

In [60]:
# coffee.py
coffee = 10
while True:
    money = int(input("돈을 넣어 주세요: "))
    if money == 300:
        print("커피를 줍니다.")
        coffee = coffee -1
    elif money > 300:
        print("거스름돈 %d를 주고 커피를 줍니다." % (money -300))
        coffee = coffee -1
    else:
        print("돈을 다시 돌려주고 커피를 주지 않습니다.")
        print("남은 커피의 양은 %d개 입니다." % coffee)
    if coffee == 0:
        print("커피가 다 떨어졌습니다. 판매를 중지 합니다.")
        break

돈을 넣어 주세요: 500
거스름돈 200를 주고 커피를 줍니다.
돈을 넣어 주세요: 1000
거스름돈 700를 주고 커피를 줍니다.
돈을 넣어 주세요: 300
커피를 줍니다.
돈을 넣어 주세요: 0
돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피의 양은 7개 입니다.
돈을 넣어 주세요: 10
돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피의 양은 7개 입니다.
돈을 넣어 주세요: 200
돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피의 양은 7개 입니다.
돈을 넣어 주세요: 300
커피를 줍니다.
돈을 넣어 주세요: 1000
거스름돈 700를 주고 커피를 줍니다.
돈을 넣어 주세요: 700
거스름돈 400를 주고 커피를 줍니다.
돈을 넣어 주세요: 400
거스름돈 100를 주고 커피를 줍니다.
돈을 넣어 주세요: 100
돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피의 양은 3개 입니다.
돈을 넣어 주세요: 300
커피를 줍니다.
돈을 넣어 주세요: 300
커피를 줍니다.
돈을 넣어 주세요: 300
커피를 줍니다.
커피가 다 떨어졌습니다. 판매를 중지 합니다.

In [66]:
# 반복
# while True:
    # print("")
    # ctrl + c

In [67]:
# while문의 맨 처음으로 돌아가기

>>> a = 0
>>> while a < 10:
...     a = a + 1
...     if a % 2 == 0: continue
...     print(a)
...
1
3
5
7
9

1
3
5
7
9

9

In [ ]:
# 무한 루프

while True:
    수행할_문장1
    수행할_문장2
    ...

In [ ]:
>>> while True:
...     print("Ctrl+C를 눌러야 while문을 빠져나갈 수 있습니다.")
...
Ctrl+C를 눌러야 while문을 빠져나갈 수 있습니다.
Ctrl+C를 눌러야 while문을 빠져나갈 수 있습니다.
Ctrl+C를 눌러야 while문을 빠져나갈 수 있습니다.
....

In [ ]:
# break point - run - debuging

In [ ]:
while True:
    print("Inside the loop")  # Replace "Inside the loop" with the desired content to be printed

In [74]:
# for문, 반복문

test_list = ['one', 'two', 'three']
for i in test_list:
    print(i)

one
two
three

In [75]:
# marks1.py
marks = [90, 25, 67, 45, 80]   # 학생들의 시험 점수 리스트

number = 0   # 학생에게 붙여 줄 번호
for mark in marks:   # 90, 25, 67, 45, 80을 순서대로 mark에 대입
    number = number +1
    if mark >= 60:
        print("%d번 학생은 합격입니다." % number)
    else:
        print("%d번 학생은 불합격입니다." % number)

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

In [76]:
# marks2.py
marks = [90, 25, 67, 45, 80]

number = 0
for mark in marks:
    number = number +1
    if mark < 60:
        continue
    print("%d번 학생 축하합니다. 합격입니다. " % number)

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [78]:
# for 문과 함께 자주 사용하는 range 함수

a = range(10)
a_list = list(a)
print(a_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [81]:
>>> add = 0
>>> for i in range(1, 11):
...     add = add + i
...
>>> print(add)

55

In [84]:
# for와 range를 이용한 구구단

for i in range(2, 10):        # 1번 for문
    for j in range(1, 10):   # 2번 for문
        print(i * j, end=" ")
    print('')

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [86]:
# 리스트 컴프리헨션 사용하기

a = [1, 2, 3, 4]
result = []
for num in a:
    result.append(num * 3)

print(result)

[3, 6, 9, 12]

In [87]:
 a = [1,2,3,4]
 result = [num * 3 for num in a if num % 2 == 0]
 print(result)

[6, 12]

In [88]:
 result = [x*y for x in range(2,10)
               for y in range(1,10)]
 print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]